/* Base CSS styles — do not change or remove
   ========================================================================== */

/**
 * These base styles are intended to be a rough approximation of our base styles
 * in the FreeAgent desktop app. They will not be exact, so you’ll want to test
 * your styles properly after pasting into your account.
 */

body {
  background: #eee;
  color: #414141;
  font: 0.813em/150% "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 2em;
  padding: 0;
}

h1 {
  color: #333;
  font-size: 1.846em;
  line-height: 120%;
  margin: 0 0 0.5em 0;
}

h2 {
  color: #444;
  font-size: 1.385em;
  line-height: 120%;
  margin: 0 0 0.75em 0;
}

h3 {
  color: #444;
  font-size: 1.231em;
  line-height: 120%;
  margin: 0 0 0.5em 0;
}

h4 {
  font-size: 1.077em;
  margin: 0 0 0.5em 0;
}

ul,
ul li,
p,
div,
ol {
  list-style:none;
  margin: 0;
  padding: 0;
}

td {
  padding: 9px 10px;
  vertical-align: middle;
  border-top: 1px solid #eee;
}

tfoot td {
  border-top: 1px solid #ddd;
  border-bottom: 0;
}

.pagestyle {
  background-color: #fff;
  border: solid 1px #ccc;
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  margin: 0 auto 3em auto;
  padding: 10px 20px;
  position: relative;
  width: 660px;
}

.pagestyle::after {
  content: "";
  display: table;
  clear: both;
}

.pagestyle img {
  border: none;
}
