/**
 * These `@page` rules add 'x/x' counters to all pages
 */

@page {
  counter-increment: page;
  margin-left: 0;
  margin-right: 0;
  padding: 0;

  @bottom-center {
    color: #666;
    content: counter(page) "/" counter(pages);
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
  }

}

/**
 * Remove default `margin` from the top of the first invoice page, as most
 * themes include an image or border
 */

@page:first {
  margin-top: 0;
}

/**
 * Hide the `#meta` sidebar
 */

#meta {
  display: none;
}

#payment-details,
#invoice-other,
#comments {
  page-break-inside: avoid;
}

#invoice.pagestyle,
.draft #invoice.pagestyle {
  padding-bottom: 0;
  padding-left: 1cm;
  padding-right: 1cm;
  padding-top: 0 !important;
}

table#invoice-amount td,
div {
  border-width: 0.05mm !important;
}
