/**
* Elliot Jay Stocks Theme
* Created by Elliot Jay Stocks
* 23/07/08
*/

/*=========================== TYPOGRAPHY =========================*/

#invoice img {
  border: none;
}

#invoice p,
#invoice h2,
#invoice h3 {
  margin: 0;
}

#invoice {
  color: #000;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", Baskerville, BaskervilleBE, BaskervilleOldFace, Garamond, "Times New Roman", serif;
  line-height: 1.3;
}

#invoice h1 {
  color: #000;
  margin: 0;
  text-transform: uppercase;
}

#invoice h2,
#invoice h3 {
  color: #777;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", Baskerville, BaskervilleBE, BaskervilleOldFace, Garamond, "Times New Roman", serif;
  line-height: 1.2;
  margin-top: 10px;
}

#company-address,
#client-details,
#payment-details,
#invoice-other,
#invoice-amount td,
th,
#invoice-info {
  font-size: 10pt;
}

#invoice #comments {
  background: #000;
  color: #fff;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.4cm 0 0 0;
  padding: 20px;
}

div#invoice div,
div#invoice p {
  color: #777;
}

div#invoice #company-address div,
div#invoice div#invoice-other div#comments {
  color: #fff;
}

#invoice h1,
#invoice h2,
#invoice h3 {
  font-weight: bold;
  line-height: 18pt;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  white-space: normal;
}

div#invoice-info h2 {
  color: #777;
  font-size: 24pt;
  line-height: 30pt;
}

div#invoice-info h3 {
  color: #777;
  font-size: 14pt;
}

#invoice-info #payment-total {
  display: none;
}

div#invoice-other h2,
div#payment-details h2 {
  font-size: 14pt;
  margin: 10px 0 0 0;
}

#invoice strong {
  color: #000;
}

div#company-address strong {
  color: #fff;
}

#comments {
  font-size: 10pt;
}

/*=========================== LAYOUT =========================*/

#invoice {
  padding: 0 1cm 1cm 1cm;
}

#invoice {
  *padding-bottom: 0;
}

some_nowhitespace {
  nowhitespace: afterproperty;
}

/* Hack for IE6 and 7 */

#invoice-header {
  padding: 1cm 0;
}

#invoice-header h1 {
  color: #000;
  float: left;
  margin: 5px 0 0 0;
  width: 350px;
}

#invoice-header .logo {
  float: left;
}

#invoice-header #company-address {
  background: #000;
  clear: right;
  float: right;
  margin: -1cm 0 0 0;
  padding: 20px;
  width: 210px;
}

#invoice-header #company-address div.org {
  font-size: 14pt;
  font-weight: bold;
}

#invoice-blank-header {
  margin-top: 1.6cm;
}

#client-details {
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 10px;
  width: 330px;
}

#client-details div.org {
  font-size: 14pt;
  font-weight: bold;
}

#invoice-info {
  clear: both;
  float: right;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 250px;
}

#invoice-info th {
  text-align: right;
}

#invoice-info h2 {
  font-size: 14pt;
  margin-bottom: 0;
  text-transform: uppercase;
}

#invoice-info h3 {
  margin: 0;
}

#invoice-amount {
  clear: both;
  margin: 2em 0 2em 0;
}

#payment-details {
  float: left;
  width: 330px;
}

#invoice-other {
  clear: both;
  float: right;
  width: 250px;
}

#invoice-other h2,
#payment-details h2 {
  margin-bottom: 1em;
}

#invoice-amount .item_group_title td {
  padding-top: 1em;
}

#comments {
  clear: both;
  float: right;
  width: 100%;
}

/*=========================== TABLES =========================*/

#invoice table {
  background: #ebeeef;
  border-collapse: collapse;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  clear: both;
  width: 100%;
}

#invoice table th {
  padding: 4px 5px 4px 5px;
  text-align: left;
}

#invoice #header_row th {
  border-bottom: 1px solid #000;
  color: #000;
}

#invoice-amount td.action {
  border-bottom: 0;
}

#invoice-amount #total_tr td {
  background: #000;
  border-bottom: 0;
  color: #fff;
}

#invoice-amount td {
  margin: 0;
  vertical-align: center;
  white-space: nowrap;
}

#invoice-amount tr.item td {
  background: #ebeeef;
}

#invoice-amount td {
  margin: 0;
  padding: 5px;
  vertical-align: top;
}

#invoice-amount .item_r {
  text-align: right;
}

#invoice-amount .item_l {
  text-align: left;
  white-space: normal;
}

#invoice-amount .total {
  font-weight: bold;
  line-height: 1.3;
  text-align: right;
}

#invoice-amount .details_th {
  width: 44%;
}

#invoice-amount .details_notax_th {
  width: 52%;
}

#invoice-amount .quantity_th {
  width: 13%;
}

#invoice-amount .subtotal_th {
  text-align: right;
  width: 18%;
}

#invoice-amount .unitprice_th {
  text-align: right;
  width: 17%;
}

#invoice-amount .salestax_th {
  text-align: right;
  width: 8%;
}

#invoice-amount tr#discount_tr,
#invoice-amount tr#net_total_tr,
#invoice-amount tr#vat_tr {
  color: #777;
}

#invoice_items tr.item td {
  border-top: 0;
}

/* Invoice UK VAT Summary Table */

#invoice #invoice-uk-vat-summary {
  background: #fff;
  border: 0;
  border-collapse: collapse;
  clear: both;
  margin: 25px 0 0 0;
  width: 100%;
}

#invoice tr#invoice-uk-vat-header th {
  border-top: 1px solid #ccc;
  padding: 7px 0;
}

#invoice-uk-vat-summary td,
#invoice #invoice-uk-vat-summary th {
  font-size: 9pt;
  padding: 2px 0;
  text-align: left;
}

#vat-total td,
#vat-total th {
  border-top: 1px solid #ccc;
}
