@page {
  margin: 0;
  padding: 0;
}

@bottom-center {
  color: #666;
  content: counter(page) "/" counter(pages);
  font: 12px Arial, Helvetica, sans-serif;
}

@page:first {
  margin-top: 0;
}

@top-center {
  content: none;
}

body {
  font-family: Verdana, Tahoma,  sans-serif !important;
  width: 100%;
}

table#invoice-amount td,
div,
table#invoice-amount th {
  border-width: 0.05mm !important;
}

#meta {
  display: none;
}
