/**
 * These `@page` rules add 'x/x' counters to all pages
 */

@page {
  counter-increment: page;
  margin-left: 0;
  margin-right: 0;
  padding: 0;

  @bottom-center {
    color: #666;
    content: counter(page) "/" counter(pages);
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
  }

}

/**
 * Remove default `margin` from the top of the first invoice page, as most
 * themes include an image or border
 */

@page:first {
  margin-top: 0;
}

/**
 * Hide the `#meta` sidebar
 */

#meta {
  display: none;
}

#invoice {
  padding: 1cm 1cm 0 1cm !important;
}

table#invoice-amount td,
table#invoice-amount th,
div {
  border-width: 0.05mm !important;
}
