/*
Tranquility Theme
Created by Roan Lavery
18/02/08
*/


/*=========================== TYPOGRAPHY =========================*/

#invoice {
  color: #6C8597;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.4;
}

#invoice h1 {
  color: #000;
  margin: 0;
  text-transform: uppercase;
}

#invoice h2,
#invoice h3 {
  color: #000;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.2;
  margin-top: 9px;
  text-transform: none;
  white-space: normal;
}

#invoice h2 {
  font-size: 11pt;
}

#company-address,
#client-details,
#payment-details,
#invoice-other,
#invoice-amount td,
th,
#invoice-info {
  font-size: 10pt;
}

.org,
.fn,
#bank_name {
  color: #5F7C91;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: 0.07em;
  text-transform: capitalize;
}

#payment-details strong,
#invoice-other strong {
  color: #666;
  font-weight: normal;
}

#payment-details h2,
#invoice-other h2 {
  color: #6C8597;
  font-variant: small-caps;
  letter-spacing: 0.07em;
}

#client-details {
  color: #5F7C91;
}

#invoice #invoice-info h2 {
  color: #5F7C91;
  font-size: 14pt;
  font-variant: small-caps;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin-bottom: 0px;
  text-transform: capitalize;
}

#invoice #invoice-info h3 {
  color: #7F99AB;
  font-size: 10pt;
  font-weight: normal;
  margin: 0 !important;
}

#invoice #payment-due {
  color: #999;
  font-size: 10pt;
  font-weight: normal;
}

#invoice #invoice-info,
#invoice #invoice-info p {
  text-align: right;
}

#invoice-info #payment-total {
  display: none;
}

#comments {
  color: #888;
  font-size: 9pt;
  font-weight: normal;
  text-align: center;
}

#bank_name {
  color: #666;
}

/*=========================== LAYOUT =========================*/

#invoice {
  background: #fff url("/gallery/ripple.jpg") 0px 120px no-repeat;
  padding: 0 0.8cm 1.8cm 0.8cm;
}

#invoice-header #company-address {
  clear: right;
  float: right;
  margin-top: 10px;
  text-align: right;
  width: 250px;
}

#invoice-header h1 {
  float: left;
  margin: 5px 0 0 0;
  width: 350px;
}

#invoice-header {
  padding-top: 0.5cm;
}

#invoice-header .logo {
  float: left;
  margin: 0px 0 0 0px;
}

#invoice-blank-header {
  margin-top: 1.6cm;
}

#client-details {
  float: left;
  margin: 0px 0 20px 10px;
  padding-top: 10px;
  width: 330px;
}

#invoice-info {
  clear: both;
  float: right;
  margin: 10px 0 20px 0;
  width: 250px;
}

#invoice-info th {
  text-align: right;
}

#payment-terms {
  display: none;
}

#payment-due {
  color: #666;
  line-height: 1.3;
}

#invoice-amount {
  clear: both;
  margin: 1em 0;
}

#payment-details {
  float: left;
  width: 250px;
}

#invoice-other {
  clear: both;
  float: right;
  text-align: right;
  width: 350px;
}

#invoice-amount .item_group_title td {
  padding-top: 1em;
}

#invoice-amount .item_group_title h2 {
  color: #5F7C91;
}

#comments {
  clear: both;
  padding-top: 1cm;
}

/*=========================== TABLES =========================*/

#invoice table {
  border-collapse: collapse;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  width: 100%;
}

#invoice table th {
  padding: 2px 2px 5px 2px;
  text-align: left;
}

#invoice #header_row th {
  border-bottom: 1px solid #3E596C;
  color: #5F7C91;
}

#invoice table tr.odd {
  background: #EBECEB;
}

#invoice table tr.even {
  background: #FFF;
}

#invoice-amount td.action {
  border-bottom: 0;
}

#invoice-amount #discount_tr {
  background: #F8F8F8;
}

#invoice-amount #net_total_tr {
  background: #F8F8F8;
}

#invoice-amount #vat_tr {
  background: #F8F8F8;
}

#invoice-amount #total_tr td {
  background: #eee;
  border-bottom: 0;
}

#invoice-amount #vat_tr td {
  border-bottom: 1px solid #3E596C;
}

#invoice-amount td {
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 2px;
  vertical-align: center;
  white-space: nowrap;
}

#invoice-amount td {
  margin: 0;
  padding: 6px 5px;
  vertical-align: top;
}

#invoice-amount td.item_r {
  text-align: right;
}

#invoice-amount td.item_l {
  text-align: left;
  white-space: normal;
}

#invoice-amount td.total {
  font-weight: bold;
  text-align: right;
}

#invoice-amount td.action {
  background: #FFF;
  padding-right: 0;
  text-align: center;
  white-space: nowrap;
  width: 7%;
}

#invoice-amount #total_currency {
  text-align: right;
}

#invoice-amount .details_th {
  width: 45%;
}

#invoice-amount .details_notax_th {
  width: 52%;
}

#invoice-amount .quantity_th {
  width: 13%;
}

#invoice-amount .subtotal_th {
  text-align: right;
  width: 20%;
}

#invoice-amount .unitprice_th {
  text-align: right;
  width: 15%;
}

#invoice-amount .salestax_th {
  text-align: center;
  width: 7%;
}

/* Invoice UK VAT Summary Table */
#invoice #invoice-uk-vat-summary {
  background: #fff;
  border-collapse: collapse;
  border: 0;
  clear: both;
  margin: 25px 0 0 0;
  width: 100%;
}

#invoice tr#invoice-uk-vat-header th {
  border-top: 1px solid #ccc;
  padding: 7px 0;
}

#invoice-uk-vat-summary td,
#invoice #invoice-uk-vat-summary th {
  font-size: 9pt;
  padding: 2px 0;
  text-align: left;
}

#vat-total td,
#vat-total th {
  border-top: 1px solid #ccc;
}
