/*
Union Theme
Created by Olly Headey

*/
/*=========================== TYPOGRAPHY =========================*/

#invoice {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, Helvetica, Arial, Verdana, sans-serif !important;
    width: 603px;
}
#invoice h1 {
    color: #555;
    font-size: 24px;
    margin: 0;
    text-transform: uppercase;
}
#invoice h2,
#invoice h3 {
    color: #000;
    text-transform: none;
}
#invoice h2 {
    font-size: 14pt;
    margin: 10px 0;
}
#invoice-amount td,
th {
    font-size: 10pt;
}
#invoice-header #company-address {
    font-size: 11pt;
    line-height: 14pt;
    text-align: right;
}
#invoice #client-details,
#invoice-info p {
    font-size: 10pt;
    line-height: 14pt;
}
#invoice #invoice-other, 
#invoice #payment-details {
    font-size: 10pt;
    line-height: 14pt;
}
#invoice-info h2,
#invoice-info h3 {
    font-weight: normal;
    margin: 0;
}
#invoice #invoice-info h2 {
    font-size: 18pt;
    text-transform: uppercase;
}
#invoice #invoice-info h3 {
    font-size: 12pt;
}
#invoice #invoice-info p {
    margin-top: 0;
    text-align: right;
}
#invoice-info #payment-total {
    display: none;
}
#comments {
    font-size: 10pt;
    font-weight: bold;
    margin-top: 0;
}
#invoice #invoice-info h2,
#invoice #company-address div.email,
#invoice #invoice-other h2,
#invoice #payment-details h2 {
    color: #a10000;
}
#invoice #invoice-other h2,
#invoice #payment-details h2 {
    font-weight: normal;
    text-transform: uppercase;
}

/*=========================== LAYOUT =========================*/

#invoice {
    border-left: 60px solid #99080d;
    padding: 0 1cm 1cm;
}
#invoice-header .logo {
    float: left;
}
#invoice-header {
    border-bottom: 1px solid #a10000;
    margin-top: 1.5cm;
    overflow: hidden;
    padding-bottom: 10px;
}
#invoice-blank-header {
    margin-top: 1.6cm;
}
#invoice-info {
    float: right;
    margin: 0.7cm 0 20px;    
    text-align: right;
    width: 55%;
}
#invoice-info #payment-terms {
    display: none;
}
#invoice-info #payment-due {
    font-style: italic;
}
#company-address {
    float: right;
    margin: 0;
    padding: 0;
    width: 300px;
}
#client-details {
    float: left;
    margin: 0.7cm 0 20px;
    width: 35%;
} /* Positioned to appear in a standard envelope window when printed */
#invoice-other {
    clear: both;
    float: right;
    margin-top: 0;
    text-align: right;
    width: 50%;
}
#invoice #payment-details {
    float: left;
    margin-top: 0;
    width: 45%;
}
#payment-details .sort-code,
#payment-details .account-number,
#payment-details .payment-reference {
    clear: left;
}
#payment-details strong {
    float: left;
    font-weight: normal;
    width: 12em;
}
#invoice-other strong {
    float: left;
    font-weight: normal;
    width: 16em;
}
#invoice-other #comments {
    clear: both;
    color: #a10000;
    font-weight: normal;
    margin-top: 0;    
}
#invoice-other #contract-number {
    margin-bottom: 3em;
}
#invoice-amount .item_group_title td {
    padding-top: 0.75em;
}

#comments {
    clear: both;
    padding-top: 0.3cm;
}

/*=========================== TABLES =========================*/

#invoice table#invoice-amount {
    border-collapse: collapse;
    clear: both; 
    margin: 1cm 0 0.4cm;
    width: 100%;
}
#invoice-amount th {
    background: #F2F2F2;
    font-weight: normal;
    padding: 6px 5px;
}
#invoice-amount td {
    margin: 0;
    padding: 5px;
    vertical-align: top;
}
#invoice-amount tr.item td {
    background: #fff;
}
#invoice-amount .item_r {
    text-align: right;
}
#invoice-amount .item_l {
    text-align: left;
    white-space: normal;
}
#invoice-amount .total {
    font-weight: bold;
    line-height: 1.3;
    text-align: right;
}
#invoice-amount td.action {
    background: #FFF;
    padding-right: 0;
    text-align: center;
    white-space: nowrap;
    width: 7%;
}
#invoice-amount tr#total_tr {
    background: #F2F2F2;
}
#invoice-amount td {
    border-top: 1px solid #F2F2F2;
}
#invoice-amount tr#discount_tr,
#invoice-amount tr#net_total_tr,
#invoice-amount tr#vat_tr {
    color: #777;
}

#invoice-amount .details_th,
#invoice-amount td.description_td {
    width: 46%;
}
#invoice-amount .details_notax_th {
    width: 54%;
}
#invoice-amount .quantity_th {
    width: 13%;
}
#invoice-amount .subtotal_th {
    text-align: right;
    width: 18%;
}
#invoice-amount .unitprice_th {
    text-align: right;
    width: 15%;
}
#invoice-amount .salestax_th {
    text-align: right;
    width: 8%;
}

/* Invoice UK VAT Summary Table */
#invoice #invoice-uk-vat-summary {
    background: #fff;
    border: 0;
    border-collapse: collapse;
    clear: both;
    margin: 25px 0 0;
    width: 100%;
}
#invoice tr#invoice-uk-vat-header th {
    border-top: 1px solid #ccc;
    padding: 7px 0;
}
#invoice-uk-vat-summary td,
#invoice #invoice-uk-vat-summary th {
    font-size: 9pt;
    padding: 2px 0;
    text-align: left;
}
#vat-total td,
#vat-total th {
    border-top: 1px solid #ccc;
}
