/**
 * These `@page` rules add 'x/x' counters to all pages
 */

@page {
  border-left: 60px solid #99080d;
  counter-increment: page;
  margin-left: 0;
  margin-right: 0;
  padding: 0;

  @bottom-center {
    color: #666;
    content: counter(page) "/" counter(pages);
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
  }

}

/**
 * Remove default `margin` from the top of the first invoice page, as most
 * themes include an image or border
 */

@page:first {
  margin-top: 0;
}

/**
 * Hide the `#meta` sidebar
 */

#meta {
  display: none;
}

/**
 * 1. Left-hand border is removed from the `#invoice` element in this print CSS
 *    and instead applied to the `@page` element to ensure the appearance of the
 *    PDF is consistent with the on-screen preview
 */

#invoice {
  /* 1 */
  border-left: 0;
  padding: 0 1cm 0 1cm !important;
}

#Main {
  background-color: transparent;
  border-top: none;
  text-align: left;
}

table#invoice-amount td,
table#invoice-amount th,
div {
  border-width: 0.05mm !important;
}
